*{margin:0px; padding:0px;}
   
*{cursor:url("Kitty Cat.cur"),auto;}
 
body{background-color: #DCC3FF;}


header { 
top:0px;
left:0px;
width:500px;
height:50px;
background-color: #B3F2FF;
}


h1 {
font-family : "Lucida Console", Monaco, monospace;
font-size : 30px ; Text-decoration : underline;

}


nav { 
top:50px;
left:0px;
width:500px;
height:50px;
background-color: pink;
}


h2 {
font-family : Arial, Helvetica, sans-serif;
font-size : 15px ; Text-decoration : none ;
margin-left : 5px;
}


section { 
margin-left :310px;
top:100px;
right:100px;
width:870px; 
height:3700px;
font-family : Arial, Helvetica, sans-serif;
}


table, th, td {
border: 1px solid black;
border-collapse: collapse;
font-family : "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


blockquote {
margin: 0;
padding: 15px;
background: #ffff;
border-radius: 20px;
}




